[project]
	description = Apache Wicket components for Twitter Bootstrap - Wicket-Bootstrap is based on Twitter's toolkit (bootstrap) and the Apache Wicket Framework.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Haitz (l0rdn1kk0n)
[access "refs/for/refs/*"]
	read = group user/Michael Haitz (l0rdn1kk0n)
	push = group user/Michael Haitz (l0rdn1kk0n)
	label-Code-Review = -2..+2 group user/Michael Haitz (l0rdn1kk0n)
	label-Verified = -1..+1 group user/Michael Haitz (l0rdn1kk0n)
	rebase = group user/Michael Haitz (l0rdn1kk0n)
	removeReviewer = group user/Michael Haitz (l0rdn1kk0n)
	submit = group user/Michael Haitz (l0rdn1kk0n)
[access "refs/heads/*"]
	read = group user/Michael Haitz (l0rdn1kk0n)
	create = group user/Michael Haitz (l0rdn1kk0n)
	push = +force group user/Michael Haitz (l0rdn1kk0n)
	pushMerge = group user/Michael Haitz (l0rdn1kk0n)
[access "refs/tags/*"]
	push = +force group user/Michael Haitz (l0rdn1kk0n)
	pushTag = group user/Michael Haitz (l0rdn1kk0n)
	pushSignedTag = group user/Michael Haitz (l0rdn1kk0n)
