// colors
// -------------------------
@gray:                  #787878;
@orange:                #EB5A0A;

// Scaffolding
// -------------------------
@backgroundImage:       "../img/background.gif";
@bodyBackground:        @gray;
@textColor:             @gray;

// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 2));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 2));

// 768px-979px
@gridColumnWidth768:      41px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 2));